html, body{
    overflow-x:hidden;
}
.back{
    position:absolute;
    margin:0px 20px;
    font-size:20px;
    text-decoration: none;
    border:2px solid;
    padding: 1px 10px;
    color: white;
    border-top-left-radius: 20px;
    border-color: black;
    background:linear-gradient(
        to left,
        red,
        black
    );
    box-shadow:2px 2px 4px white;


}
#home{
    position: absolute;
    margin: 3px 90px;
    text-decoration: none;
    font-size:20px;
    color:black;
    text-shadow: 2px 2px 5px;

}
#darkmode{
   position:absolute;
   margin:0px 160px;
   background-color: rgb(0, 0, 0, 0.0);
   border-color: rgb(0, 0, 0, 0.0);
   font-size: 20px;
   font-style:italic;
   font-weight: 800;
   text-shadow:2px 2px 5px;
   
}
#title{
    position: absolute;
    margin:100px 100px;
    font-weight: 500;
    font-size: 40px;
    font-style: italic;
    text-shadow: 3px 3px 4px black;
}
body{
    background-image: url('/zafiarom.png');
    background-repeat: no-repeat;
    background-size:50%;
    background-position-x: right;
    word-wrap: break-word;
    overflow-wrap:break-word;
    width:100%;

}
#chapter1{
    position: absolute;
    margin:200px 40px;
    font-size: 30px;
    text-shadow: 3px 3px 4px;

}

#sentenceContainer{
    position:absolute;
    margin:245px 0px;
    font-size:20px;
    font-style:italic;
    font-weight: 100;
    letter-spacing:1.2px;

    
   
}
@media(min-width:200px) and (max-width: 1281px){
    body{
       background-image: none;    
       width: 100%;
    }
    #sentenceContainer{
        padding: 0px 20px;
        display:grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        width:100%;
       
       
       
    }
    #sentenceContainer pre{
        font-size:clamp(5px, 5vw, 15px);
        flex-wrap: break-word;
        white-space: normal;
        width: 90%;
        line-height:1.7;
    }
    #chapter1{
        font-size:clamp(8px, 4vw, 25px);
    }
    #title{
        font-size:clamp(10px, 5vw, 25px);
         margin: 0 auto;
         top:130px;
         left:70px;
         padding: 0px 40px;
         font-weight: 100;
    }
    #darkmode{
        font-size: 10px;
    }
}
@media(max-width:1282px){
    body{
        background-image: flex;
    }
}
